# Node modules
/node_modules
.env
.gitignore
Counter.sol
ignition/modules/Counter.ts

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage
